[Unit]
Description=Start NYC Subway Tracker
After=docker.service graphical.target network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
User=subwaytracker
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/subwaytracker/.Xauthority
WorkingDirectory=/home/subwaytracker/UpcomingNYCSubway
ExecStart=/bin/bash /home/subwaytracker/UpcomingNYCSubway/startup-subway-tracker.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
